fastapi
python-dotenv
requests
pdf2image
openai==1.57.4
pydantic>=2.0.0
pymongo
python-docx
elasticsearch
numpy
httpx==0.27.2
applicationinsights
tiktoken
uvicorn
openpyxl
pandas
sentence_transformers